django
markdown
markdown-it-py
supabase
python-dotenv
psycopg2-binary
google-genai
mdit-py-plugins
PyMuPDF
python-docx
dj_database_url
gunicorn
whitenoise
langchain
langchain-core
langchain-community
langchain-anthropic
langchain_google_genai
chromadb